@import "tailwindcss";


@plugin "daisyui" {
    themes: light --default;
}

@custom-variant dark (&:where(.dark, .dark *));


@import "@heroui/styles";

section {
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 20px;
}

.dark-bg {
    background: #0d1322;
}

.dark-bg-2 {
    background: #0b1120;
}
